/* standard desktop layout */
 
 body {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  text-align: center;
  font-family: "Press Start 2P", system-ui;
  background-color: darkolivegreen;
  text-align: center;
}


/* nav */
nav {
  font-size: .8em;
  display: flex;
  background-color: rgb(3, 4, 5);
  position: sticky;
  top: 0;
  overflow: hidden;
  width: fit-content;
}


/* links */
a {
  text-decoration:none;
}
a:link {
  color: cornsilk;
}
a:visited {
  color: yellowgreen;
}
a:hover {
  color: rgb(17, 211, 43);
}


/* main content items */
section {
  display: flex;
  flex-direction: column;
  margin: 1em;
  padding: 1em;
  border-style: double;
  border-width: .75em;
  width:fit-content;
}

ul{
  display: flex;
  flex-direction: row;
  gap: 1.75em;
  list-style-type: none;
}

img {
  max-width: 50%;
}

#experience {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.xpitem {
  border-style: dotted;
}


/* other devices largest to smallest */

@media (max-width: 1000px) {
  body {
    margin: 1em;
    background-color: rgb(238, 204, 197);
  }
}

@media (max-width: 800px) {
  body {
    margin: 1em;
    background-color: rgb(245, 157, 142);
  }
}

@media (max-width: 600px) {
  body {
    margin: 1em;
    background-color: tomato;
  }
}
