body {
    background-color: darkolivegreen;
}

h1 {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    text-align: right;
  }

section, p, ul {
    margin: 1.75em;
}
