/* standard desktop layout */
body {
  background-color: darkolivegreen;
}

h1,h2 {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

section {
  margin: .5em;
  padding: .5em;
}

p,
ul {
  font-family: "Press Start 2P", system-ui;
  margin: 1.75em;
}

img {
  max-width: 50%;
}

nav{
  position: sticky;
}

#nav {
  display: flex;
  flex-direction: row;
  gap: 3.5em;
  list-style-type: none;
}

/* other devices largest to smallest */

@media (max-width: 1000px) {
  body {
    margin: 1em;
    background-color: rgb(238, 204, 197);
  }
}

@media (max-width: 800px) {
  body {
    margin: 1em;
    background-color: rgb(245, 157, 142);
  }
}

@media (max-width: 600px) {
  body {
    margin: 1em;
    background-color: tomato;
  }
}
